.container {
  text-align: center;
  margin-top: 10px;
}
h2 {
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#fd582e));
  background-image: -webkit-linear-gradient(left, #ff0000 0%, #fd582e 100%);
  background-image: linear-gradient(to right, #ff0000 0%, #fd582e 100%);
}
.home {
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images5.alphacoders.com/639/639790.jpg);
  align-items: center;
  text-align: center;
  height: 100vh;
}
.top-block {
  margin-top: 20vh;
  color: white;
}
.navbar {
  background-color: transparent;
  border-bottom: solid 0.5px black;
}
.top-block h1 {
  font-size: 7vh;
}
/*FOOTER*/
footer {
    height: 80px;
    font-size: 15px;
    width: 100%;
    color: black;
    text-align:center;
    align-items: center;
    position:fixed;
    bottom: 0;
}
/*-----*/
/* 点滅 */
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}