body {
/*
    background-image: url("https://cdn.discordapp.com/attachments/728834175398051900/737303838486167602/wave.svg");
    background-size: cover;
    background-position: center;
*/
}


.title {
    text-align: center;
    padding: 40px;
    color: #0099ff;
}

#skill {
    background-image: url("https://cdn.discordapp.com/attachments/728834175398051900/737303838486167602/wave.svg");
    background-size: cover;
}

#work {
    background-image: url("https://cdn.discordapp.com/attachments/711968635970912316/739160267547607170/wave.svg");
    background-size: cover;
}

#title { 
    text-decoration: none;
    display: inline-block;
}

#title::after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.3s;
  border-bottom: 3px solid #0099ff;
}

#title:hover::after {
  width: 100%;
}

.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: flex;
	height: 200px;
	margin: 2em auto;
	justify-content: center;
	align-items: center;
}
.cp_arrows .cp_arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	opacity: 0;
}
.cp_arrows .cp_arrowfirst {
	-webkit-animation: arrow-move08 2s ease-in-out infinite;
	        animation: arrow-move08 2s ease-in-out infinite;
}
.cp_arrows .cp_arrowsecond {
	-webkit-animation: arrow-move08 2s 1s ease-in-out infinite;
	        animation: arrow-move08 2s 1s ease-in-out infinite;
}
.cp_arrows .cp_arrow:before, .cp_arrows .cp_arrow:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 3px;
	content: '';
	background: #0099ff;
}
.cp_arrows .cp_arrow:before {
	-webkit-transform: rotate(30deg) translateX(-39%);
	        transform: rotate(30deg) translateX(-39%);
	-webkit-transform-origin: top left;
	        transform-origin: top left;
}
.cp_arrows .cp_arrow:after {
	-webkit-transform: rotate(-30deg) translateX(39%);
	        transform: rotate(-30deg) translateX(39%);
	-webkit-transform-origin: top right;
	        transform-origin: top right;
}
@-webkit-keyframes arrow-move08 {
	0% {
		top: 40%;
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes arrow-move08 {
	0% {
		top: 40%;
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.skill-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 3px solid #0099ff;
}
footer {
    opacity: 0.5;
    background-color: white;
    font-size: 15px;
    width:100%;
    color: #0099ff;
    text-align:center;
    position:fixed;
    bottom: 0;
}
